@model JobPortal.Models.PostJobMV
@{
    ViewBag.Title = "Post Job";
}

<section class="contact-section">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h2 class="contact-title">Post Job</h2>
                @Html.ValidationSummary(true,"",new { @class = "text-danger"})
            </div>
            @using (Html.BeginForm("PostJob","Job",FormMethod.Post,
                new
                {
                    @class = "form-contact"
                }))
            {
                @Html.AntiForgeryToken()
                <div class="col-md-6">
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                Enter Job Title
                                @Html.EditorFor(model => model.JobTitle, new
                           {
                               htmlAttributes = new
                               {
                                   @class = "form-control valid",
                                   @type = "text",
                                   @name = "jobtitle",
                                   @id = "jobtitle",
                                   @placeholder = "Enter Job Title",
                                   @onfocus = "this.placeholder = ''",
                                   @onblur = "this.placeholder ='Enter Job Title'",
                               }
                           })
                                @Html.ValidationMessageFor(model => model.JobTitle,
                               "",
                               new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                Enter Job Location
                                @Html.EditorFor(model => model.Location, new
                           {
                               htmlAttributes = new
                               {
                                   @class = "form-control valid",
                                   @type = "text",
                                   @name = "location",
                                   @id = "location",
                                   @placeholder = "Enter Location",
                                   @onfocus = "this.placeholder = ''",
                                   @onblur = "this.placeholder ='Enter Location'",
                               }
                           })
                                @Html.ValidationMessageFor(model => model.Location,
                               "",
                               new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                Enter Job Minimum Salary
                                @Html.EditorFor(model => model.MinSalary, new
                           {
                               htmlAttributes = new
                               {
                                   @class = "form-control valid",
                                   @type = "number",
                                   @name = "minsalary",
                                   @id = "minsalary",
                                   @placeholder = "Enter Min Salary",
                                   @onfocus = "this.placeholder = ''",
                                   @onblur = "this.placeholder ='Enter Min Salary'",
                               }
                           })
                                @Html.ValidationMessageFor(model => model.MinSalary,
                               "",
                               new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                Enter Job Maximum Salary
                                @Html.EditorFor(model => model.MixSalary, new
                           {
                               htmlAttributes = new
                               {
                                   @class = "form-control valid",
                                   @type = "number",
                                   @name = "maxsalary",
                                   @id = "maxsalary",
                                   @placeholder = "Enter Max Salary",
                                   @onfocus = "this.placeholder = ''",
                                   @onblur = "this.placeholder ='Enter Max Salary'",
                               }
                           })
                                @Html.ValidationMessageFor(model => model.MixSalary,
                               "",
                               new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="col-sm-6" id="divcompanyname">
                            <div class="form-group">
                                Enter Required Job Vacancey
                                @Html.EditorFor(model => model.Vacancey, new
                           {
                               htmlAttributes = new
                               {
                                   @class = "form-control valid",
                                   @type = "number",
                                   @name = "vacancey",
                                   @id = "vacancey",
                                   @placeholder = "Enter Vacancey",
                                   @onfocus = "this.placeholder = ''",
                                   @onblur = "this.placeholder ='Enter Vacancey'",
                               }
                           })
                                @Html.ValidationMessageFor(model => model.Vacancey,
                               "",
                               new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="col-sm-6" id="divcompanyname">
                            <div class="form-group">
                                Enter Redirect Job Url
                                @Html.EditorFor(model => model.WebUrl, new
                           {
                               htmlAttributes = new
                               {
                                   @class = "form-control valid",
                                   @type = "tel",
                                   @name = "weburl",
                                   @id = "weburl",
                                   @placeholder = "Enter Redirect URL",
                                   @onfocus = "this.placeholder = ''",
                                   @onblur = "this.placeholder ='Enter Redirect URL'",
                               }
                           })
                                @Html.ValidationMessageFor(model => model.WebUrl,
                               "",
                               new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="col-sm-6">
                            Select Job Category
                            <div class="form-group">
                                @Html.DropDownList("JobCategoryID",
                               null,
                               "Select Category",
                               htmlAttributes: new
                               {
                                   @class = "form-control"
                               })
                                @Html.ValidationMessageFor(model => model.JobCategoryID,
                              "",
                              new
                              {
                                  @class = "text-danger"
                              })
                            </div>
                        </div>
                        <div class="col-sm-6">
                            Select Job Nature
                            <div class="form-group">
                                @Html.DropDownList("JobNatureID",
                               null,
                               "Select Nature",
                               htmlAttributes: new
                               {
                                   @class = "form-control"
                               })
                                @Html.ValidationMessageFor(model => model.JobNatureID,
                              "",
                              new
                              {
                                  @class = "text-danger"
                              })
                            </div>
                        </div>
                        <div class="col-sm-6" id="divjobdescription">
                            <div class="form-group">
                                Select Application Date
                                @Html.EditorFor(model => model.ApplicationLastDate, new
                           {
                               htmlAttributes = new
                               {
                                   @class = "form-control ",
                                   @type = "text",
                                   @name = "applicationlastdate",
                                   @id = "applicationlastdate",
                                   @placeholder = "Enter Application Last Date",
                                   @onfocus = "this.placeholder = ''",
                                   @onblur = "this.placeholder ='Enter Application Last Date'",
                               }
                           })
                                @Html.ValidationMessageFor(model => model.ApplicationLastDate,
                               "",
                               new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="col-sm-12" id="divcompanydescription">
                            <div class="form-group">
                                Select Job Description
                                @Html.EditorFor(model => model.JobDescription, new
                           {
                               htmlAttributes = new
                               {
                                   @class = "form-control ",
                                   @type = "text",
                                   @name = "jobdescription",
                                   @id = "jobdescription",
                                   @placeholder = "Enter Description",
                                   @onfocus = "this.placeholder = ''",
                                   @onblur = "this.placeholder ='Enter Description'",
                               }
                           })
                                @Html.ValidationMessageFor(model => model.JobDescription,
                               "",
                               new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                        <div class="form-group mt-3">
                            <input type="submit" value="Register" class="button boxed-btn" />
                        </div>
                    </div>

            }
        </div>
    </div>
</section>

